<!DOCTYPE html>
<html ng-app="try">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API whis AngularJS</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/lib/angularjs.js"></script>
    
    
    <script src="./app/app.module.js"></script>
    <script src="./app/app.config.js"></script>

    <script src="./app/cow-list/cow-list.module.js"></script>
    <script src="./app/cow-list/cow-list.component.js"></script>

    <!-- <script src="script.js"></script> -->
</head>
<body>
 
    <cow-list></cow-list>

<!-- <body ng-controller="angularCtrl"> -->
    <!-- API whis AngularJS -->
    <!-- <h2 ng-if="message" ng-class="{'name': message=='ptb'}">{{message}}</h2>
    <h2 ng-if="message" ng-class="{'name': message=='PTB'}">{{message}}</h2> -->
    <!-- <h2 ng-if="!message">Enter Your Name</h2>
    <span>Message: </span>
    <input type="text" ng-model="message" ng-keyUp="mess();">
    <br>
    <span> Value: </span>
    <span>{{mess()}} </span>
    <div>--- </div>
    <span>Cow name - {{showCows(2).name}} and Cow age = {{showCows(2).age}} </span> -->
    
</body>
</html>